<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://tamojuntoapi20250403111955.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/7343f27d-3150-406c-9140-ee7259d6a173/resourcegroups/TamoJuntoAPI20250403111955ResourceGroup/providers/Microsoft.ContainerRegistry/registries/TamoJuntoAPI20250403112349</ContainerResourceId>
    <ContainerResourceName>TamoJuntoAPI20250403112349</ContainerResourceName>
    <Subscription>Pay-As-You-Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>tamojuntoapi20250403112349.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/7343f27d-3150-406c-9140-ee7259d6a173/resourceGroups/TamoJuntoAPI20250403111955ResourceGroup/providers/Microsoft.ApiManagement/service/TamoJuntoAPIapi/apis/TamoJuntoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/7343f27d-3150-406c-9140-ee7259d6a173/resourcegroups/TamoJuntoAPI20250403111955ResourceGroup/providers/Microsoft.Web/sites/TamoJuntoAPI20250403111955</ResourceId>
    <ResourceGroup>TamoJuntoAPI20250403111955ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tamojuntoapi20250403111955.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>577dcb4f-01a0-433d-a1eb-5cf46303f415</ProjectGuid>
  </PropertyGroup>
</Project>